body, html {
    height: 100%;
  }

#banner{
    background-image: url("https://steemitimages.com/DQmZG5aepq9XPgwJg7rfZHJ9UEXmCYoApbJJgvkLCmff7oz/the-21-most-beautiful-university-campuses-in-the-uk.jpg");
    opacity:0.7;
   
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height:500px;
} 
#check{
    height: 80px;
    width: 80px;
    position: relative;
    top:-30px;
    
    
}
p1{
    font-size: 100px;
    position: relative;
    font-family: 'Permanent Marker';
    
    color: white
}
#admission{
    position: relative;
    left: 10px;
    bottom: -250px;
   
}