body, html {
    height: 100%;
    
  }

#banner{
    background-image: url("https://steemitimages.com/DQmZG5aepq9XPgwJg7rfZHJ9UEXmCYoApbJJgvkLCmff7oz/the-21-most-beautiful-university-campuses-in-the-uk.jpg");
    opacity:0.7;
   
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height:500px;
} 
#check{
    height: 80px;
    width: 80px;
    position: relative;
    top:-30px;
    
    
}
p1{
    font-size: 100px;
    position: relative;
    font-family: 'Permanent Marker';
    
    color: white
}
#admission{
    position: relative;
    left: -10px;
    bottom: -200px;
   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .wow {
    font-family: 'Oswald', sans-serif;
      position:relative;
      left:-200px;
      top:-100px;

    background-image:url('https://www.sccpre.cat/mypng/full/245-2456706_free-download-silhouette.png');
    width:3000px;
    height: 625px;
    background-repeat: no-repeat
  
}
h300 {
    font-size: 100px;
    position: relative;
    font-family: 'Oswald', sans-serif;
    color: gray;
    position: relative;
    top:-600px;


}
p3 {
    font-size: 20px;
    color: gray;
    position: relative;
    top:-600px;
}

.under {
    
    position:relative;
    left:-200px;
    top:-400px;
    background-image: url('https://res.cloudinary.com/gaplabs/image/upload/c_fill,g_faces:auto,fl_progressive/v1/images/header-tiled-background.png');
    width:3000px;
    height: 625px;
    z-index:-1;

}
.requ{
   
    color:black
}
   
  




