html, body {
    max-width: 100%;
   
}
.inputboxes{
    text-align: center;
    margin-top: 50px;
}

body {
    background-color: white;
     
    
}

#admintitle {
    margin-bottom: 100px;
    font-family: 'Lora', serif;


}


#adminreq {
    text-align: center;
}

#container{
    text-align: center;
}

.aboutus {
    margin: 50px;
}

#reqbody {
    margin-left: 14px;
    font-family: Helvetica, sans-serif;
    z-index: -1
    
}

h1 {
    border-bottom: 1px solid rgb(216, 216, 216);
    padding-bottom: 0.3em;
    margin-bottom: 20px;
    
}

li {
    margin-right: 35px;
    margin-top: 15px;
    margin-bottom: 5px;
}
h3 {
    margin-top: 45px;
}

h4 {
    margin-top: 30px;
}
p {
    margin-bottom: 10px;
    margin-top: 30px;
}