.inputboxes{
    text-align: center;
    margin-top: 50px;
}

body {
    background-color: #9ACEE2;
}

#admintitle {
    margin-bottom: 100px;
    font-family: 'Lora', serif;


}

#adminreq {
    text-align: center;
}

#container{
    text-align: center;
}